<center> <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Iteso_logo.jpg" align="center" width="200" height="200"/> </center>

<center><font color=#555555><font size=6> FUNDAMENTAL ANALYSIS </font> <br> <br>
    
<center><font color=#555555><font size=5> Market Microstructure and Trading Systems </font> <br> <br> 

<center><font color=#555555><font size=4> Espinosa Garcia Lyha, lyha.espinosa@iteso.mx<br> 
                                          Manica Pineda Bryan Azahel, if722176@iteso.mx <br>
                                          Ruiz Magaña Juan Pablo, if721093@iteso.mx <br> 
                                          Vazquez Vargas Ana Cristina, if71215@iteso.mx 
    </font> <br> <br>
   
<center> <font color= #555555> <font size = 4> July.2022 </a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/bmanica/myst_proyecto_eq2'>Link</a></font>

<hr style="border:0.02in solid gray"> </hr>

<center> <font color= #555555> <font size = 6> Trading System from a fundamental perspective </font> <br> <br> <font color= #555555> <font size = 5> Unemployment rate impact on USDMXN historical series </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

<font color= #555555> <font size = 4> Abstract </font>

<font color= #6B6B6B> <font size = 3>  Include here a description of the whole work, use no more than 400 words, you can use **Bold** and *Italic* highlights, also you can inclue [links](www.iteso.mx). Usually is a good strategy to generate this text at the very end of the process, since you have to include all aspects of the work, from a brief introduction, to problem definitions and methods used, to finally the results found. </font>

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introduction </font>

<hr style="border:0.02in solid gray"> </hr>

This is an introduction, normally, it is done at the very end, when all the other content in the notebook is completed but just before the abstract (which is short version of the introduction) ...

<br>

# <font color= #6B6B6B> 2. Install/Load Packages and Depedencies </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 2.1 Python Packages </font> <font color= #555555>

In order to run this notebook, it is necessary to have installed and/or have the _requirements.txt_ file with the following:

- pandas>=1.1.1 
- numpy>=1.19.1
- datetime >=1.0.0
- jupyter>=1.0.0

## <font color= #6B6B6B> 2.2 Files Dependencies </font> <font color= #555555>

The following are the file dependencies that are needed to run this notebook:

- MP_M1_2018.csv : USDMXN Future contracts price series for 2018.
- MP_M1_2019.csv : USDMXN Future contracts price series for 2019.
- MP_M1_2020.csv : USDMXN Future contracts price series for 2020.
- Unemployment_Rate.xlsx : Unemployment rate series from 2018 to 2020.

## <font color= #6E6E6E> 2.3 Install Packages</font>

In [1]:
%%capture
# Install all the pip packages in the requirements.txt
import sys
!{sys.executable} -m pip install -r requirements.txt

In [12]:
import pandas as pd
import numpy as np
import datetime
import warnings

import functions as fn

usdmxn_18 = pd.read_csv('files\MP_M1_2018.csv')
usdmxn_19 = pd.read_csv('files\MP_M1_2019.csv')
usdmxn_20 = pd.read_csv('files\MP_M1_2020.csv')
#unemployment = pd.read_excel('files\Unemployment_Rate.xlsx')

# <font color= #6B6B6B> 3. Data Description </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 3.1 Currency data </font>

## <font color= #6B6B6B> 3.2 Indicator data </font>

<br>

# <font color= #6B6B6B> 4. Historical Analysis </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 4.1 Financial Aspects </font>

<hr style="border:0.02in solid gray"> </hr>


- The USDMXN behavior is analyze during the report date of the unemployment rate of the american economy.

Explicación en texto de indicador  
- Hacer 5 validaciones visuales de cuando sucede el indicador
- Tomar screenshot de cada una.
- Documentar empíricamente la reacción del precio
- Diseñar empíricamente los parámetros de una operación que se colocara
- Sentido.
- Volumen.
- Takeprofit.
- Stoploss.
- Diseñar empíricamente una estrategia de administración del capital.
- Cuánto perder cuando se pierda.
- Cuánto ganar cuando se gana.
- Incremento progresivo de tamaño de posición o no.

## <font color= #6B6B6B> 4.2 Statistical Aspects </font>

<hr style="border:0.02in solid gray"> </hr>

### <font color= #6B6B6B> 4.2.1 Time Series </font>

### <font color= #6B6B6B> 4.2.2 Autocorrelation and Autocorrelation Partial Component</font>

To test if our time series have a high degree of autocorrelation with the lagged version of the time series. Autocorrelation it's important to know if a time series past values have a relation with the future values.
The test is *Durbin Watson*.

Statistic: 

$$\frac{\sum_{t=2}^T((e_t - e_{t-1})^2)}{\sum_{t=1}^Te_t^2}$$

Where:

$e$: Represent the residuals of the time series.

### <font color= #6B6B6B> 4.2.3 Heteroscedasticity Test</font>

### Levene Test


Statistical test used to check if variances from two samples are equal (Homocedasticity).

Statistic:

$$ W = \frac{(N-k)\sum_{i=1}^{k}N_{i}(Z_i - Z..)^2}{(k-1)\sum_{i=1}^{N_i}(Z_{ij}-Z_i)^2} $$

Where:

- $W$: The test statistic.
- $k$: Number of diferent groups 
- $N$: Number of total cases in each group.
- $N_i$: Number of cases in group i.
- $Y_{ij}$: Value of the observed variable for i,j cases.
- $Z_{ij}$: $\bar{Y_i}$ the mean of group i


Null Hypothesis: Variances are equal (Homocedasticity).  

### Bartlett Test


Statistical test used to check if variances from two samples are equal (Homocedasticity).

Statistic:

$$ X^{2} = \frac{ln(S^{2}{p})-\sum{i=1}^{k}(n_i-1)ln(S^{2}{i})}{1+\frac{1}{3(k-1)}\Big(\sum{i=1}^{k}\frac{1}{n_i-1}-\frac{1}{N-k}\Big)} $$

Where:

- $X^{2}$: The test statistic.
- $k$: Number of diferent groups 
- $N$: Number of total cases in each group.
- $N_i$: Number of cases in group i.
- $S^{2}_{i}$: Sample's Variances.


Null Hypothesis: Variances are equal (Homocedasticity).

### <font color= #6B6B6B> 4.2.4 Normalized Test </font>

List of the following tests:

- Shapiro Wilk
- Jarque-Bera
- D'Angostino
- Anderson Darling test  

### Shapiro Wilk

It is a statistical test used to verified if a set of data follows a normal distribution.
Published by Samuel Shapiro and Martin Bradbury in the  1960s.

Statistic:


$$ W = \frac{\Big(\sum_{i=1}^{n}\alpha_{i}x_{(i)}\Big)}{\sum_{i=1}^{n} (x_{i} - \bar{x})^2 } $$

Where:

- $W$: Is the test statistic Shapiro-Wilk.
- $\alpha$: The Shapiro-Wilk's Coeficient.
- $n$: Number of data.
- $X_{i}$: The variable to be test at observation i.
- $\bar{X}$: The average of the variable.

Null Hypothesis $H_0$: The sample follows a normal distribution.  

###  D'Angostino

Statistical test for normality. Based on *kurtosis* and *skewness**.


The sample skewness and kurtosis are defined as:

$$ g_1 = \frac{\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^3}{\Big(\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^{2}\Big)\frac{3}{2}} $$

$$ g_2 = \frac{\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^4}{\Big(\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^{2}\Big)^{2}} $$

After a transformation to $g_1$ and $g_2$ it's applied the statistic results:

$$ K^2 = Z_{1}(g_{1})^2 +  Z_{2}(g_{2})^2 $$

Where:


- $g_1$: The skewness sample.
- $g_2$: The kurtosis sample.
- $n$: Number of data.
- $X_{i}$: The variable to be test at observation i.
- $\bar{X}$: The average of the variable.
- $Z_{1}(g_{1})$: Transformation for ${g_1}$.
- $Z_{2}(g_{2})$: Transformation for ${g_2}$.

Null Hypothesis $H_0$: The sample follows a normal distribution.

### Jarque Bera

Goodness of fit test, which use the kurtosis and the skewness from the sample, to test if the data follows a normal distribution.

Skewness & Kurtosis:


$$ S = \frac{\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^3}{\Big(\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^{2}\Big)\frac{3}{2}} $$

$$ K = \frac{\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^4}{\Big(\frac{1}{n}\sum_{i=1}^{n}(x_i-\bar{x})^{2}\Big)^{2}} $$

Jarque Bera Statistic:

$${JB = \frac{n}{6}\Big(S^{2} + \frac{1}{4}(K-3)^{2}\Big)}$$



Where:

- ${n}$: Is the number of observations.
- ${S}$: The sample Skewness.
- ${K}$: The sample Kurtosis.
- $X_{i}$: The variable to be test at observation i.
- $\bar{X}$: The average of the variable.

Null Hypothesis $H_0$: The sample follows a normal distribution.

### <font color= #6B6B6B> 4.2.5 Seasonality </font>

To check if our time series indicator have a seasonality component we would use the *Kruskal Wallis Test*, which is a non parametric test whit the porpouse of proving if n samples orignate from the same distribution.

Statistic:
$${Q=\frac{SS_{t}}{SS_{e}}}$$

Where:
- ${SS_{t} = (N-1)\sum_{i=1}^{g}n_{i}(\bar{r}_{j}-\bar{r})^{2}}$
- ${SS_{e} = (N-1)\sum_{i=1}^{g}n_{i}(\bar{r}_{ij}-\bar{r})^{2}}$
- $n_j$ number of observations in group j
- $\bar{r}_j$ the mean of the abosulute ranks of the data i in group j.
- $\bar{r} = \frac{1}{2}(N+1)$: The average rank.

Null Hypothesis: all samples (in time series context months, quarters...) have the same mean.
If rejectedthere is no seasonality.

### <font color= #6B6B6B> 4.2.6 Stationarity </font>

It is define as a stationary process when data have the following property: mean, variance and autocorrelation structure do not change over time.

*Augmented Dickey-Fuller test* Is the statistical test used to check if our time series indicator have this property.
It is a unit root test, the intuiton behind the test is that it determine how strong is the trend component in a time series.

Statistic:

$${DF_{\tau}=\frac{\hat{\gamma}}{SE(\hat{\gamma})}}$$

Where:
- $\gamma$: Unit root.
- SE: Standard error.

The null hypothesis of the test is that the time series can be represented by a unit root, that it is not stationary. The alternate hypothesis (rejecting the null hypothesis) is that the time series is stationary.

### <font color= #6B6B6B> 4.2.7 Atypical Detection </font>

To check if our time series have outliers the IQR (Interquartile Rnage) criterion is used. The IQR is the difference between the third and the first quartil. To use this criterion data is divided in quarters, the IQR represent the middle half of the data that lies between the upper and lower quartiles.

$$ IQR = Q_3 - Q_1 $$

An aupper limit is define, observations above this limit are consider outliers.  
Upper limit = $Q_3 +1.5*iqr$

A lower limit is define, observations below this limit are consider outliers.  
Lower limit = $Q_1 -1.5*iqr$

## <font color= #6B6B6B> 4.3 Computational Aspects </font>

<hr style="border:0.02in solid gray"> </hr>

In [3]:
data = fn.data_manipulation(usdmxn_18,usdmxn_19,usdmxn_20,unemployment)
usdmxn = data[0]
unemployment = data[1]

### <font color= #6B6B6B> 4.3.1 Scenario Classification </font>

Each event is classified following the following rules that represents occurrence scenarios: 


| Scenario | Rule                             |
|----------|----------------------------------|
|     **A**    | Actual   $\geq$  Consensus  $\geq$  Previous |
|     **B**    | Actual $\geq$  Consensus $<$ Previous   |
|     **C**    | Actual $<$ Consensus $\leq$ Previous   |
|     **D**    | Actual $<$ Consensus $<$ Previous    |

- **A** – Actual is greater than or equal to expectation, which is greater than previous. Expectation is that the index increases and increases
- **B** – Actual is greater than or equal to the expectation, however the expectation is less than the previous one. Expectation expects it to go down, but it goes up
- **C** – Actual is lower than the expectation, however, the expectation expected that it would increase more than the previous one. The expectation was upward; however, the reality is downward.
- **D** – Actual is less than the expectation which in turn is less than the previous. The expectation is that it decreases and the reality decreases more.


To make this classification, a function is used, which consists of a for cycle that iterates the data frame that contains each scenario, that represents each monthly report of the indicator. Within this cycle, the percentage that was reported as current, consensus and prior is compared by multiple conditions, following the aforementioned rules and assigning them the corresponding scenario.

In [4]:
unemployment_df = fn.Scenario_Clasification(unemployment)
display(unemployment_df.head())
display(unemployment_df.tail())

,Country/Region,Event,Importance,Period,Actual,Consensus,Prior,Scenario
Datetime,,,,,,,,
2018-01-05 07:30:00,United States,Unemployment Rate,High,DEC,4.1%,4.1%,4.1%,A
2018-02-02 07:30:00,United States,Unemployment Rate,High,JAN,4.1%,4.1%,4.1%,A
2018-03-09 07:30:00,United States,Unemployment Rate,High,FEB,4.1%,4.0%,4.1%,B
2018-04-06 07:30:00,United States,Unemployment Rate,High,MAR,4.1%,4.0%,4.1%,B
2018-05-04 07:30:00,United States,Unemployment Rate,High,APR,3.9%,4.0%,4.1%,D

,Country/Region,Event,Importance,Period,Actual,Consensus,Prior,Scenario
Datetime,,,,,,,,
2020-08-07 07:30:00,United States,Unemployment Rate,High,JUL,10.2%,10.5%,11.1%,D
2020-09-04 07:30:00,United States,Unemployment Rate,High,AUG,8.4%,9.8%,10.2%,C
2020-10-02 07:30:00,United States,Unemployment Rate,High,SEP,7.9%,8.2%,8.4%,D
2020-11-06 07:30:00,United States,Unemployment Rate,High,OCT,6.9%,7.7%,7.9%,D
2020-12-04 07:30:00,United States,Unemployment Rate,High,NOV,6.7%,6.8%,6.9%,D

### <font color= #6B6B6B> 4.3.2 Events </font>

Through a function, a data frame is created for each event, which consists of the prices with one-minute intervals of 30 minutes before each moment in which the indicator's statement was made and 30 minutes later. Resulting 36 data frames. 

The function creates the data frames through a cycle that connects two data frames, the one containing the events (each release) and a data frame of the currency usdmxn with prices per minute. The date of the release is searched for in the price data frame and the 30 minutes before and 30 minutes after are extracted using “datetime.timedelta”.

In [5]:
warnings.filterwarnings('ignore') 
eventos_df = fn.Event_Data(data[0],unemployment)
eventos_df[0]

,index,timestamp,open,high,low,close,volume,date
0,3297,2018-01-05 07:00:00,23.041475,23.046785,23.041475,23.046785,520680.0,2018-01-05
1,3298,2018-01-05 07:01:00,23.046785,23.046785,23.046785,23.046785,238645.0,2018-01-05
2,3299,2018-01-05 07:04:00,23.041475,23.041475,23.041475,23.041475,217000.0,2018-01-05
3,3300,2018-01-05 07:06:00,23.046785,23.046785,23.046785,23.046785,21695.0,2018-01-05
4,3301,2018-01-05 07:08:00,23.046785,23.046785,23.046785,23.046785,151865.0,2018-01-05
5,3302,2018-01-05 07:09:00,23.046785,23.046785,23.046785,23.046785,43390.0,2018-01-05
6,3303,2018-01-05 07:10:00,23.046785,23.046785,23.046785,23.046785,151865.0,2018-01-05
7,3304,2018-01-05 07:12:00,23.046785,23.046785,23.046785,23.046785,151865.0,2018-01-05
8,3305,2018-01-05 07:13:00,23.052098,23.052098,23.052098,23.052098,5183910.0,2018-01-05
9,3306,2018-01-05 07:14:00,23.057413,23.057413,23.057413,23.057413,1149305.0,2018-01-05
10,3307,2018-01-05 07:15:00,23.062731,23.068051,23.062731,23.068051,1495575.0,2018-01-05
11,3308,2018-01-05 07:16:00,23.068051,23.073373,23.068051,23.073373,736780.0,2018-01-05
12,3309,2018-01-05 07:17:00,23.073373,23.078698,23.073373,23.078698,2188165.0,2018-01-05
13,3310,2018-01-05 07:18:00,23.078698,23.078698,23.078698,23.078698,1733200.0,2018-01-05
14,3311,2018-01-05 07:19:00,23.084026,23.084026,23.084026,23.084026,1256280.0,2018-01-05
15,3312,2018-01-05 07:20:00,23.084026,23.084026,23.084026,23.084026,801420.0,2018-01-05
16,3313,2018-01-05 07:21:00,23.078698,23.084026,23.078698,23.084026,129960.0,2018-01-05
17,3314,2018-01-05 07:22:00,23.084026,23.094688,23.084026,23.089356,9441580.0,2018-01-05
18,3315,2018-01-05 07:23:00,23.084026,23.084026,23.084026,23.084026,43320.0,2018-01-05
19,3316,2018-01-05 07:25:00,23.089356,23.089356,23.084026,23.084026,584820.0,2018-01-05
20,3317,2018-01-05 07:28:00,23.084026,23.084026,23.084026,23.084026,21660.0,2018-01-05
21,3318,2018-01-05 07:30:00,23.084026,23.100023,23.084026,23.100023,2597400.0,2018-01-05
22,3319,2018-01-05 07:30:00,23.100023,23.100023,23.100023,23.100023,865800.0,2018-01-05
23,3320,2018-01-05 07:31:00,23.094688,23.100023,23.094688,23.094688,173200.0,2018-01-05
24,3321,2018-01-05 07:32:00,23.100023,23.100023,23.100023,23.100023,757575.0,2018-01-05
25,3322,2018-01-05 07:33:00,23.100023,23.100023,23.100023,23.100023,562770.0,2018-01-05
26,3323,2018-01-05 07:34:00,23.094688,23.100023,23.094688,23.100023,1060605.0,2018-01-05
27,3324,2018-01-05 07:35:00,23.100023,23.105360,23.100023,23.105360,1623000.0,2018-01-05
28,3325,2018-01-05 07:36:00,23.105360,23.105360,23.105360,23.105360,108200.0,2018-01-05
29,3326,2018-01-05 07:37:00,23.110700,23.116043,23.110700,23.116043,4455780.0,2018-01-05
30,3327,2018-01-05 07:38:00,23.116043,23.116043,23.110700,23.110700,1233195.0,2018-01-05
31,3328,2018-01-05 07:41:00,23.110700,23.110700,23.110700,23.110700,237985.0,2018-01-05
32,3329,2018-01-05 07:42:00,23.110700,23.110700,23.094688,23.100023,2792205.0,2018-01-05
33,3330,2018-01-05 07:43:00,23.100023,23.110700,23.100023,23.110700,1730800.0,2018-01-05
34,3331,2018-01-05 07:44:00,23.110700,23.126735,23.110700,23.126735,648600.0,2018-01-05
35,3332,2018-01-05 07:45:00,23.121387,23.121387,23.121387,23.121387,173000.0,2018-01-05
36,3333,2018-01-05 07:46:00,23.121387,23.121387,23.121387,23.121387,756875.0,2018-01-05
37,3334,2018-01-05 07:47:00,23.121387,23.142791,23.121387,23.137436,2809300.0,2018-01-05
38,3335,2018-01-05 07:48:00,23.142791,23.142791,23.142791,23.142791,2311735.0,2018-01-05
39,3336,2018-01-05 07:49:00,23.148148,23.158870,23.148148,23.158870,5289550.0,2018-01-05
40,3337,2018-01-05 07:50:00,23.158870,23.164234,23.158870,23.164234,14246100.0,2018-01-05
41,3338,2018-01-05 07:51:00,23.164234,23.164234,23.158870,23.158870,2353310.0,2018-01-05
42,3339,2018-01-05 07:52:00,23.158870,23.158870,23.153508,23.153508,194355.0,2018-01-05
43,3340,2018-01-05 07:53:00,23.148148,23.148148,23.142791,23.148148,1900800.0,2018-01-05
44,3341,2018-01-05 07:54:00,23.148148,23.148148,23.148148,23.148148,367200.0,2018-01-05
45,3342,2018-01-05 07:55:00,23.148148,23.148148,23.137436,23.137436,1058890.0,2018-01-05
46,3343,2018-01-05 07:56:00,23.137436,23.137436,23.126735,23.132084,1426590.0,2018-01-05
47,3344,2018-01-05 07:57:00,23.132084,23.137436,23.132084,23.132084,1383360.0,2018-01-05
48,3345,2018-01-05 07:58:00,23.137436,23.142791,23.132084,23.137436,1188550.0,2018-01-05
49,3346,2018-01-05 08:00:00,23.137436,23.137436,23.132084,23.137436,2333880.0,2018-01-05

### <font color= #6B6B6B> 4.3.3 Metrics </font>

The Metrics function defined in the functions.py file does all the calculations for the corresponding metrics:
- Direction
- Bullish pip
- Bear pip 
- Volatility

It displays a dataframe for the metrics corresponding to everytime the unemployment rate is published. All the previously mentionate are reported on pips (1dll*10000).

#### <font color= #6B6B6B> **Direction** </font>

$$(\text{Close}(t_{30}) - \text{Open}(t_0))$$  

This specific metrics shows tendency in a certain time series. Applied to the prices of future contracts, this metric is calculated by substaction of the closing price 30 minutes after the indicator has been announced and the opening price when the indicator is published.
The sign is the only relevant part of this result. If it is positive (+1), indicates that the closing price was higher than the opening. In case of the opposite, the sign will have to be negative (-1).

#### <font color= #6B6B6B> **Bullish Pip** </font>

$$ \text{High}(t_0:t_{30}) - \text{Open}(t_0) $$  
 
To obstain this metric is necesary to obtain the maximum price of the high prices for the following thirty minutes once the indicator has been announced. Once this has been calculated, a substraction is performed between the maximum price and the opening price on t=0. This translates on a general idea of the highest pip variation presented on the analyzed period of time.

#### <font color= #6B6B6B> **Bear Pip** </font>

$$ \text{Open}(t_0)  - \text{Low}(t_0:t_{30}) $$  

Opposite to the Bullish Pip, this metric can be calculated by, then again, a substration of the opening price once the indicator has been announced and the minimum of the low prices on a time window of thirty minutes after the publication of the indicator. It ilustrates the lowest pip variation presented during the analyzed time period.

#### <font color= #6B6B6B> **Volatility** </font>

$$ \text{High}(t_{-30}:t_{30}) - \text{Low}(t_{-30}:t_{30}) $$  

This metric represents on a statistical way the prices dispersion. To calculate this metric, it is required to obtain the maximum value of the high prices and substract the minimimum value of the low prices.

In [6]:
df_escenarios= fn.Metrics(eventos_df,unemployment_df)
display(df_escenarios.head())
display(df_escenarios.tail())

                    Scenario  Direction  Bullish_Pip    Bear_Pip   Volatility
Datetime
2018-01-05 07:30:00        A          1   802.085679    0.000000  1227.597677
2018-02-02 07:30:00        A          1   519.736522    0.000000   613.967477
2018-03-09 07:30:00        B          1   142.426418  236.964174   379.390592
2018-04-06 07:30:00        B          1   134.916728  179.622243   359.549382
2018-05-04 07:30:00        D         -1     0.000000  396.470461   694.752120

                    Scenario  Direction  Bullish_Pip    Bear_Pip   Volatility
Datetime
2020-08-07 07:30:00        D          1   159.383039  318.105955   690.343025
2020-09-04 07:30:00        C          1   146.095666   48.655592   534.740381
2020-10-02 07:30:00        D         -1     0.000000  448.722442   949.425028
2020-11-06 07:30:00        D          1   712.439193  177.360020  1287.769388
2020-12-04 07:30:00        D          1   280.056146   39.944059   479.808748

# <font color= #6B6B6B> 5. Trading System Definition </font>

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> 6. Trading System Optimization </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

# <font color= #6B6B6B> <font size = 6> 5. Results </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

## <font color= #6B6B6B> 5.1 Results of first processes </font>

In [7]:
# DELETE THIS CELL IN YOUR FILE

# Separate your results according to the main processes you are working on

<br>

## <font color= #6B6B6B> 5.2 Results of another proces </font>

In [8]:
# DELETE THIS CELL IN YOUR FILE

# You can have several processes with which you are obtaining the results you need.

<br>

# <font color= #6B6B6B> <font size = 6> 6. References </font>

<hr style="border:0.02in solid gray"> </hr>

[1] Munnoz, 2020. Python project template. https://github.com/iffranciscome/python-project. (2021).

<br>